:root {
  --black: #1c1c1c;
  --gray: #919191;
  --light-gray: #ebebeb;
  --hot-pink: #ff214f;
  --primary-font: "Roboto", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: var(--light-gray);
  font-family: var(--primary-font);
}
.container {
  width: 100%;
  max-width: 1224px;
  margin: 0 auto;
  padding: 20px 20px;
}
.section__primary {
  padding: 8rem;
  background: var(--light-gray);
}
.section__secondary {
  padding: 8rem;
  background: var(--black);
}

/* nav style  */
nav {
  display: flex;
  justify-content: space-between;
}
nav > ul {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 25px;
}
ul > li {
  list-style: none;
}

/* creativity and design section style  */
.section__title--container {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.section__title {
  color: var(--hot-pink);
  font-size: 1rem;
  flex-shrink: 0;
  margin-right: 10px;
}
.line {
  width: 100%;
  height: 1px;
  background: var(--black);
}
.section__text {
  font-size: 3rem;
  font-weight: 300;
}
